<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form_main">
        <h4 class="heading"><strong>Quick </strong> Contact <span></span></h4>
        <div class="form">
          <form id="contactFrm" name="contactFrm" #contactFrm="ngForm">
            <input
              type="text"
              required=""
              placeholder="Please input your Name"
              value=""
              name="name"
              class="txt"
              ngModel
            />
            <input
              type="text"
              required=""
              placeholder="Please input your mobile No"
              value=""
              name="mob"
              class="txt"
              ngModel
            />
            <input
              type="text"
              required=""
              placeholder="Please input your Email"
              value=""
              name="email"
              class="txt"
              ngModel
            />

            <textarea
              placeholder="Your Message"
              name="mess"
              type="text"
              class="txt_3"
              ngModel
            ></textarea>
            <input
              type="button"
              value="submit"
              name="submit"
              class="txt2"
              (click)="sendData(contactFrm.value)"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
